body {
    background-color: #07296e;
}

#container {
    width: 1000px;
    height: 550px;
    background-image: url("https://img.freepik.com/free-photo/top-view-calculator-notebook-frame_23-2149103980.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: black;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 4px 2px red;
}

#keyboard {
    height: 400px;
}

.operator,.number,.empty{
    width:50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}
.operator,.number{
    cursor :pointer;
}
.operator:active,.number:active{
    background-color: orange;
}
#result{
    height: 120px;
}
#history{
    text-align: right;
    height:20px;
    margin: 0 20px;
padding-top: 20px;
font-size:15px;
color: #919191;
}
#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

button:nth-child(4){
    font-size: 20px;
    background-color: #20b2aa;
}

button:nth-child(8){
    font-size: 20px;
    background-color: #ffa500;
}

button:nth-child(12){
    font-size: 20px;
    background-color: #20b2aa;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #e100ff;
}
button:nth-child(18){
    font-size: 20px;
    background-color: #ff0000;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #8a0660;
}